{% extends 'Base.html' %}
{% load static %}
{% block content%}
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">About us</h1>
      <p class="lead">The Mooshop was founded by one man with a dream to sell affordable goods to the general people by utilising the power of online shopping and the internet this one man put all his effort into creating the Mooshop. The customer first oriented online store for all your buying needs in one place.
      Go forth and shop your wildest desires! Now! On the Mooshop e-commerce store! </p>
      <a class="btn btn-primary btn-lg btn-block" href="http://127.0.0.1:8000/products/" role="button">Get shopping now!</a>
      
      <blockquote class="blockquote">
      <br>
      <h2 class="h2">Want to contact us instead?</h2>
      <p> Call us on 018 386 3456</p>
      <p> Or email us at Mooshop@Mooshop.com</p>
      </blockquote>

</div
{% endblock %}