{% extends "Base.html" %}
{% block homeactive%} 
active
{% endblock %}

{% block content %}
<body>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Welcome</h1>
      <p class="fs-5 text-muted">The Mooshop has the best prices around!</p>
      <a class="btn btn-primary btn-lg btn-block" href="http://127.0.0.1:8000/products/" role="button">Get shopping now!</a>
      <a class="btn btn-primary btn-lg btn-block" href="http://127.0.0.1:8000/about/" role="button">or Learn more!</a>
    </div>
  
</body>
  {% endblock %}    